.hero {
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient($tertiary-shade-color,
    $tertiary-shade-color),
    url("../images/background-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $tertiary-color;
  text-align: center;
}
.hero__title {
  margin: 0 auto 30px;
  max-width: 696px;
  color: $primary-color;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
}