.social-networks {
    display: flex;
    margin-top: 16px;
    padding: 0 32px;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-link {
    transition: background-color $transition-duration $transition-timing-function,
      color $transition-duration $transition-timing-function;
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $primary-color;
    color: $icon-color;
    &:hover,
  &:focus {
    background-color: $accent-color;
    color: $primary-color;
  }
  }
  .social-link__icon {
    fill: currentColor;
  }
  